---
swagger: "2.0"
info:
  version: "2022-11-08T16:31:18Z"
  title: "DropGoAdminApi"
host: "admin.drop-go-api.xyz"
schemes:
- "https"
paths:
  /:
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /auth:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "GetAuthTokenRequestModel"
        required: true
        schema:
          $ref: "#/definitions/GetAuthTokenRequestModel"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetAuthTokenResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /item:
    get:
      produces:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetAllItemResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - DropGoApiStackAuthorizerLambda738AEA6B: []
    post:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "PostItemRequestModel"
        required: true
        schema:
          $ref: "#/definitions/PostItemRequestModel"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostItemResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - DropGoApiStackAuthorizerLambda738AEA6B: []
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /item/{itemId}:
    get:
      produces:
      - "application/json"
      parameters:
      - name: "itemId"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetItemResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - DropGoApiStackAuthorizerLambda738AEA6B: []
    put:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "itemId"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "PutItemRequestModel"
        required: true
        schema:
          $ref: "#/definitions/PutItemRequestModel"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutItemResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - DropGoApiStackAuthorizerLambda738AEA6B: []
    delete:
      produces:
      - "application/json"
      parameters:
      - name: "itemId"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/DeleteItemResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - DropGoApiStackAuthorizerLambda738AEA6B: []
    options:
      consumes:
      - "application/json"
      parameters:
      - name: "itemId"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /log:
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /log/download:
    get:
      produces:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetDownloadLogResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - DropGoApiStackAuthorizerLambda738AEA6B: []
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /user:
    get:
      produces:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetUserResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - DropGoApiStackAuthorizerLambda738AEA6B: []
    post:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "PostUserRequestModel"
        required: true
        schema:
          $ref: "#/definitions/PostUserRequestModel"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostUserResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
    put:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "PutUserRequestModel"
        required: true
        schema:
          $ref: "#/definitions/PutUserRequestModel"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutUserResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - DropGoApiStackAuthorizerLambda738AEA6B: []
    delete:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "DeleteUserRequestModel"
        required: true
        schema:
          $ref: "#/definitions/DeleteUserRequestModel"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/DeleteUserResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
      security:
      - DropGoApiStackAuthorizerLambda738AEA6B: []
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
securityDefinitions:
  DropGoApiStackAuthorizerLambda738AEA6B:
    type: "apiKey"
    name: "Authorization"
    in: "header"
    x-amazon-apigateway-authtype: "custom"
definitions:
  PostUserRequestModel:
    type: "object"
    required:
    - "description"
    - "email"
    - "name"
    - "password"
    properties:
      password:
        type: "string"
        description: "パスワード"
      iconImage:
        type: "string"
        description: "アイコン画像(base64)"
      name:
        type: "string"
        description: "アカウント名前 (企業名・店名)"
      description:
        type: "string"
        description: "アカウント紹介文"
      email:
        type: "string"
        description: "メールアドレス"
    description: "アカウント情報を登録します。"
  PutUserRequestModel:
    type: "object"
    required:
    - "description"
    - "email"
    - "name"
    - "password"
    properties:
      password:
        type: "string"
        description: "パスワード"
      iconImage:
        type: "string"
        description: "アイコン画像(base64)"
      name:
        type: "string"
        description: "アカウント名前 (企業名・店名)"
      description:
        type: "string"
        description: "アカウント紹介文"
      email:
        type: "string"
        description: "メールアドレス"
    description: "アカウント情報を更新します。"
  GetAuthTokenRequestModel:
    type: "object"
    required:
    - "email"
    - "password"
    properties:
      password:
        type: "string"
        description: "パスワード"
      email:
        type: "string"
        description: "メールアドレス"
    description: "email, passwordでJWTトークンを返します。"
  PostItemResponseModel:
    type: "object"
    properties:
      message:
        type: "string"
        description: "メッセージ"
  PutItemResponseModel:
    type: "object"
    properties:
      message:
        type: "string"
        description: "メッセージ"
  DeleteItemResponseModel:
    type: "object"
    properties:
      message:
        type: "string"
        description: "メッセージ"
  Error:
    type: "object"
    properties:
      message:
        type: "string"
    title: "Error Schema"
  GetUserResponseModel:
    type: "object"
    properties:
      name:
        type: "string"
        description: "アカウント名前 (企業名・店名)"
      description:
        type: "string"
        description: "アカウント紹介文"
      iconUrl:
        type: "string"
        description: "アカウント画像のURLリンク"
      id:
        type: "string"
        description: "アカウントID"
      email:
        type: "string"
        description: "メールアドレス"
  PutUserResponseModel:
    type: "object"
    properties:
      message:
        type: "string"
        description: "メッセージ"
  GetItemResponseModel:
    type: "object"
    properties:
      coordinate:
        type: "object"
        description: "アイテムの座標"
        properties:
          latitude:
            type: "string"
            description: "アイテム配置の緯度"
          longitude:
            type: "string"
            description: "アイテム配置の経度"
        required:
        - "latitude"
        - "longitude"
      file:
        type: "object"
        description: "アイテムのファイル情報"
        properties:
          extension:
            type: "string"
            description: "ファイル拡張子"
          size:
            type: "number"
            description: "ファイルサイズ(バイト)"
          mime:
            type: "string"
            description: "ファイル形式のMIME"
          name:
            type: "string"
            description: "ファイル名"
        required:
        - "extension"
        - "mime"
        - "name"
        - "size"
      uploadDate:
        type: "string"
        description: "アイテム登録日時"
      endDate:
        type: "string"
        description: "アイテムの公開終了日時"
      scope:
        type: "string"
        description: "公開状態"
      description:
        type: "string"
        description: "アイテム紹介文"
      id:
        type: "string"
        description: "アイテムID"
      title:
        type: "string"
        description: "アイテム名"
      radius:
        type: "number"
        description: "アイテム配置の半径"
      startDate:
        type: "string"
        description: "アイテムの公開開始日時"
  PostItemRequestModel:
    type: "object"
    required:
    - "coordinate"
    - "description"
    - "endDate"
    - "radius"
    - "startDate"
    - "title"
    properties:
      file:
        type: "object"
        description: "アイテムのファイル情報"
        properties:
          extension:
            type: "string"
            description: "ファイル拡張子"
          size:
            type: "number"
            description: "ファイルサイズ(バイト)"
          mime:
            type: "string"
            description: "ファイル形式のMIME"
          name:
            type: "string"
            description: "ファイル名"
        required:
        - "extension"
        - "mime"
        - "name"
        - "size"
      coordinate:
        type: "object"
        description: "アイテムの座標"
        properties:
          latitude:
            type: "string"
            description: "アイテム配置の緯度"
          longitude:
            type: "string"
            description: "アイテム配置の経度"
        required:
        - "latitude"
        - "longitude"
      endDate:
        type: "string"
        description: "アイテムの公開終了日時"
      scope:
        type: "string"
        description: "公開状態"
      description:
        type: "string"
        description: "アイテム紹介文"
      title:
        type: "string"
        description: "アイテム名"
      radius:
        type: "number"
        description: "アイテム配置の半径"
      startDate:
        type: "string"
        description: "アイテムの公開開始日時"
    description: "アイテム情報を取得します。"
  GetDownloadLogResponseModel:
    type: "array"
    items:
      type: "object"
      properties:
        item:
          type: "object"
          properties:
            coordinate:
              type: "object"
              description: "アイテムの座標"
              properties:
                latitude:
                  type: "string"
                  description: "アイテム配置の緯度"
                longitude:
                  type: "string"
                  description: "アイテム配置の経度"
              required:
              - "latitude"
              - "longitude"
            file:
              type: "object"
              description: "アイテムのファイル情報"
              properties:
                extension:
                  type: "string"
                  description: "ファイル拡張子"
                data:
                  type: "string"
                  description: "ファイルデータ(base64)"
                size:
                  type: "number"
                  description: "ファイルサイズ(バイト)"
                mime:
                  type: "string"
                  description: "ファイル形式のMIME"
                name:
                  type: "string"
                  description: "ファイル名"
              required:
              - "data"
              - "extension"
              - "mime"
              - "name"
              - "size"
            uploadDate:
              type: "string"
              description: "アイテム登録日時"
            scope:
              type: "string"
              description: "公開状態"
            description:
              type: "string"
              description: "アイテム紹介文"
            id:
              type: "string"
              description: "アイテムID"
            title:
              type: "string"
              description: "アイテム名"
            radius:
              type: "number"
              description: "アイテム配置の半径"
            userId:
              type: "string"
              description: "ユーザー名"
        downloadDate:
          type: "string"
          description: "ダウンロード日時"
        ip:
          type: "string"
          description: "IPアドレス"
        userAgent:
          type: "string"
          description: "ユーザーエージェント"
  PostUserResponseModel:
    type: "object"
    properties:
      token:
        type: "string"
        description: "JWTトークン"
  DeleteUserResponseModel:
    type: "object"
    properties:
      message:
        type: "string"
        description: "メッセージ"
  PutItemRequestModel:
    type: "object"
    required:
    - "coordinate"
    - "description"
    - "endDate"
    - "radius"
    - "startDate"
    - "title"
    properties:
      coordinate:
        type: "object"
        description: "アイテムの座標"
        properties:
          latitude:
            type: "string"
            description: "アイテム配置の緯度"
          longitude:
            type: "string"
            description: "アイテム配置の経度"
        required:
        - "latitude"
        - "longitude"
      endDate:
        type: "string"
        description: "アイテムの公開終了日時"
      scope:
        type: "string"
        description: "公開状態"
      description:
        type: "string"
        description: "アイテム紹介文"
      title:
        type: "string"
        description: "アイテム名"
      radius:
        type: "number"
        description: "アイテム配置の半径"
      startDate:
        type: "string"
        description: "アイテムの公開開始日時"
    description: "アイテム情報を更新します。"
  GetAllItemResponseModel:
    type: "array"
    items:
      type: "object"
      properties:
        coordinate:
          type: "object"
          description: "アイテムの座標"
          properties:
            latitude:
              type: "string"
              description: "アイテム配置の緯度"
            longitude:
              type: "string"
              description: "アイテム配置の経度"
          required:
          - "latitude"
          - "longitude"
        file:
          type: "object"
          description: "アイテムのファイル情報"
          properties:
            extension:
              type: "string"
              description: "ファイル拡張子"
            size:
              type: "number"
              description: "ファイルサイズ(バイト)"
            mime:
              type: "string"
              description: "ファイル形式のMIME"
            name:
              type: "string"
              description: "ファイル名"
          required:
          - "extension"
          - "mime"
          - "name"
          - "size"
        uploadDate:
          type: "string"
          description: "アイテム登録日時"
        endDate:
          type: "string"
          description: "アイテムの公開終了日時"
        scope:
          type: "string"
          description: "公開状態"
        description:
          type: "string"
          description: "アイテム紹介文"
        id:
          type: "string"
          description: "アイテムID"
        title:
          type: "string"
          description: "アイテム名"
        radius:
          type: "number"
          description: "アイテム配置の半径"
        startDate:
          type: "string"
          description: "アイテムの公開開始日時"
  GetAuthTokenResponseModel:
    type: "object"
    properties:
      token:
        type: "string"
        description: "JWTトークン"
  DeleteUserRequestModel:
    type: "object"
    required:
    - "password"
    properties:
      password:
        type: "string"
        description: "削除確認用パスワード"
    description: "アカウント情報を完全に削除します。"
