---
swagger: "2.0"
info:
  version: "2022-11-25T00:55:29Z"
  title: "DropGoPublicApi"
host: "public.drop-go-api.xyz"
schemes:
- "https"
paths:
  /:
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /event:
    get:
      produces:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetPublicAllEventResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /event/{eventId}:
    get:
      produces:
      - "application/json"
      parameters:
      - name: "eventId"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetPublicEventResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      parameters:
      - name: "eventId"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /item:
    get:
      produces:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetPublicAllItemResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /item/{itemId}:
    get:
      produces:
      - "application/json"
      parameters:
      - name: "itemId"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetPublicItemResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      parameters:
      - name: "itemId"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /user:
    get:
      produces:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetPublicUserResponseModel"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "400":
          description: "400 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
        "500":
          description: "500 response"
          schema:
            $ref: "#/definitions/Error"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Content-Type:
              type: "string"
    options:
      consumes:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
definitions:
  GetPublicUserResponseModel:
    type: "object"
    properties:
      imageUrl:
        type: "string"
        description: "アカウント画像のURLリンク"
      name:
        type: "string"
        description: "アカウント名前 (企業名・店名)"
      description:
        type: "string"
        description: "アカウント紹介文"
      id:
        type: "string"
        description: "アカウントID"
  GetPublicItemResponseModel:
    type: "object"
    properties:
      eventId:
        type: "string"
        description: "イベントID"
      createdAt:
        type: "number"
        description: "アイテム登録日時"
      coordinate:
        type: "object"
        description: "アイテムの座標"
        properties:
          latitude:
            type: "string"
            description: "アイテム配置の緯度"
          longitude:
            type: "string"
            description: "アイテム配置の経度"
        required:
        - "latitude"
        - "longitude"
      file:
        type: "object"
        description: "アイテムのファイル情報"
        properties:
          dataURI:
            type: "string"
            description: "ファイルのデータURI"
          type:
            type: "string"
            description: "データの種類(file, link)"
        required:
        - "dataURI"
        - "type"
      scope:
        type: "string"
        description: "公開状態"
      description:
        type: "string"
        description: "アイテム紹介文"
      id:
        type: "string"
        description: "アイテムID"
      title:
        type: "string"
        description: "アイテム名"
      radius:
        type: "number"
        description: "アイテム配置の半径"
      userId:
        type: "string"
        description: "ユーザーID"
  Error:
    type: "object"
    properties:
      message:
        type: "string"
    title: "Error Schema"
  GetPublicEventResponseModel:
    type: "object"
    properties:
      createdAt:
        type: "number"
        description: "イベント登録日時"
      address:
        type: "string"
        description: "イベント住所"
      endDate:
        type: "number"
        description: "イベントの公開終了日時"
      scope:
        type: "string"
        description: "公開状態"
      description:
        type: "string"
        description: "イベント紹介文"
      id:
        type: "string"
        description: "イベントID"
      title:
        type: "string"
        description: "イベント名・地域名"
      userId:
        type: "string"
        description: "ユーザーID"
      startDate:
        type: "number"
        description: "イベントの公開開始日時"
  GetPublicAllEventResponseModel:
    type: "array"
    items:
      type: "object"
      properties:
        createdAt:
          type: "number"
          description: "イベント登録日時"
        address:
          type: "string"
          description: "イベント住所"
        endDate:
          type: "number"
          description: "イベントの公開終了日時"
        scope:
          type: "string"
          description: "公開状態"
        description:
          type: "string"
          description: "イベント紹介文"
        id:
          type: "string"
          description: "イベントID"
        title:
          type: "string"
          description: "イベント名・地域名"
        userId:
          type: "string"
          description: "ユーザーID"
        startDate:
          type: "number"
          description: "イベントの公開開始日時"
  GetPublicAllItemResponseModel:
    type: "array"
    items:
      type: "object"
      properties:
        eventId:
          type: "string"
          description: "イベントID"
        createdAt:
          type: "number"
          description: "アイテム登録日時"
        coordinate:
          type: "object"
          description: "アイテムの座標"
          properties:
            latitude:
              type: "string"
              description: "アイテム配置の緯度"
            longitude:
              type: "string"
              description: "アイテム配置の経度"
          required:
          - "latitude"
          - "longitude"
        scope:
          type: "string"
          description: "公開状態"
        description:
          type: "string"
          description: "アイテム紹介文"
        id:
          type: "string"
          description: "アイテムID"
        title:
          type: "string"
          description: "アイテム名"
        radius:
          type: "number"
          description: "アイテム配置の半径"
        userId:
          type: "string"
          description: "ユーザーID"
